.regiterPageWrapper {
    width: 420px;
    margin: 0 auto;
    background-color: #f5f3f4;
    border-radius: 20px;
    transition: 0.4s;
    padding: 20px 40px 20px 40px;}

h2 {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 26px;
}

.regiterPageWrapper:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}